
/* Edit icon */
.edit-icon {
  color: #ff7f32;
  cursor: pointer;
  margin-right: 10px;
}

/* .truncate-text {
  display: inline-block;
  max-width: 150px;   
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
} */

.vis-icon {
  color: #ff7f32 !important;
}

.vis-icon:hover {
  opacity: 0.7 !important;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.clickable-row:hover {
  background-color: #f5f5f5b7; /* subtle hover effect */
}
.clickable-row:hover {
  background-color: #f0f4ff !important;
}
.mat-row:hover {
  background-color: #f0f4ff !important; /* light blue or any color */
  cursor: pointer;
}

.table-Fixedheader-wrapper {
    max-height: calc(100vh - 224px) !important;
}
