<header>
  <!-- Header Container -->
  <div class="container">
    <!-- Left side -->
    <div class="navbar-brand">
      <img src="assets/images/logo-unibouw.svg" alt="logo" />
    </div>

    <!-- Right side -->
    <div class="header-right">
      <!-- Translator -->
      <label class="lang-toggle" title="Translate">
        <input type="checkbox" [checked]="currentLang === 'nl'" (change)="toggleLanguage($event)" />
        <span class="slider">
          <span class="lang en">EN</span>
          <span class="lang nl">NL</span>
        </span>
      </label>

      <!-- Notification -->
      <div class="notification" *ngIf="isAdmin">
        <i class="fa fa-gear" title="Set RFQ Reminder" (click)="openReminderConfig()"></i>
      </div>

      <!-- User Dropdown -->
      <div class="user-dropdown">
        <button
          type="button"
          class="dropdown-btn"
          (click)="toggleUserDropdown($event)"
          style="border: none; background: transparent"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="22"
            width="22"
            viewBox="0 0 48 48"
            fill="#03303E"
          >
            <circle cx="24" cy="18" r="8" />
            <path d="M24 28c-8 0-14 4-14 8v4h28v-4c0-4-6-8-14-8z" />
            <circle cx="24" cy="24" r="22" fill="none" stroke="#03303E" stroke-width="3" />
          </svg>

          {{ getUserName() }}
          <i class="fa-solid fa-caret-down"></i>
        </button>

        <div class="dropdown-menu1" *ngIf="userDropdownOpen" (click)="$event.stopPropagation()">
          <div class="dropdown-header">{{ getUserName() }}</div>

          <!-- FIX: remove href -->
          <a class="dropdown-item" (click)="$event.preventDefault()">
            <i class="fa-regular fa-user"></i> {{ 'HEADER.MY_PROFILE' | translate }}
          </a>

          <a class="dropdown-item" (click)="signOut()">
            <i class="fa-solid fa-right-from-bracket"></i> {{ 'HEADER.SIGN_OUT' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Navbar -->
  <nav class="navbar">
    <ul>
      <!-- <li><i class="fa-solid fa-gauge-simple-high" style="color: white;"></i></li> -->
      <li>
        <a routerLink="/workitems" [class.active]="isWorkitemActive()">{{
          'HEADER.WORKITEMS' | translate
        }}</a>
      </li>
      <li>
        <a routerLink="/subcontractor" [class.active]="isSubcontractorActive()">{{
          'HEADER.SUBCONTRACTORS' | translate
        }}</a>
      </li>
      <li>
        <a [routerLink]="'/projectdetails'" [class.active]="isProjectsActive()">{{
          'HEADER.PROJECTS' | translate
        }}</a>
      </li>
    </ul>
  </nav>
</header>

<!-- Reminder Popup Modal -->
<div class="custom-modal-backdrop" *ngIf="showSetReminderPopup"></div>

<div class="custom-modal" *ngIf="showSetReminderPopup">
  <div class="modal-content-box">
    <!-- Modal Header -->
    <div class="modal-header">
      <p class="modal-title">{{ 'HEADER.SETTINGS' | translate }}</p>
      <p class="modal-subtitle">
        {{ 'HEADER.REMINDER_CONFIG_TITLE' | translate }}
      </p>
    </div>

    <!-- Modal Body -->
    <form class="modal-body" [formGroup]="reminderForm">
      <!-- Reminder Section -->
      <div class="modal-section">
        <!-- Max Reminder Sequence -->
        <div class="row">
          <label class="label">{{ 'HEADER.MAX_REMINDER_LABEL' | translate }}</label>

          <div
            class="custom-dropdown"
            [class.disabled]="!reminderForm.get('isEnable')?.value"
            (clickOutside)="open = false"
          >
            <div
              class="dropdown-btn"
              style="padding-left: 12px"
              (click)="reminderForm.get('isEnable')?.value && toggleMaxSequenceDropdown()"
              [class.is-invalid]="
                reminderForm.get('maxReminderSequence')?.touched &&
                reminderForm.get('maxReminderSequence')?.invalid
              "
            >
              {{ reminderForm.get('maxReminderSequence')?.value || '0' }}
              <!-- <svg class="dropdown-icon" viewBox="0 0 24 24">
                <path d="M6 9l6 6 6-6" />
              </svg> -->
              <span style="font-size: 12px; margin-left: auto; padding-right: 10px">{{
                open ? '▲' : '▼'
              }}</span>
            </div>

            <ul class="dropdown-list" *ngIf="open && reminderForm.get('isEnable')?.value">
              <li
                *ngFor="let limit of numberList"
                (click)="selectLimit(limit)"
                [class.selected]="limit === reminderForm.get('maxReminderSequence')?.value"
              >
                {{ limit }}
              </li>
            </ul>
          </div>

          <div
            class="error-text"
            *ngIf="
              reminderForm.get('maxReminderSequence')?.touched &&
              reminderForm.get('maxReminderSequence')?.invalid
            "
          >
            Value must be greater than 0
          </div>
        </div>

        <!-- Reminder Sequence -->
        <div class="row">
          <label class="label">{{ 'HEADER.REMINDER_SEQUENCE' | translate }}</label>

          <div
            class="dropdown"
            [class.disabled]="!reminderForm.get('isEnable')?.value"
            (clickOutside)="dropdownOpen = false"
            [class.is-invalid]="
              reminderForm.get('reminderSequence')?.touched &&
              reminderForm.get('reminderSequence')?.invalid
            "
          >
            <div
              class="dropdown-btn"
              (click)="reminderForm.get('isEnable')?.value && toggleReminderDropdown()"
              style="padding-left: 12px; padding-right: 12px"
            >
              <span class="dropdown-text" [class.placeholder]="!selectedReminderSequence.length">
                {{
                  selectedReminderSequence.length
                    ? selectedReminderSequence.join(', ')
                    : '-- Select --'
                }}
              </span>

              <div class="arrow">
                <span
                  class="clear"
                  *ngIf="selectedReminderSequence.length"
                  (click)="clearSelected($event)"
                  title="Clear"
                >
                  ×
                </span>
                <span style="font-size: 12px">{{ dropdownOpen ? '▲' : '▼' }}</span>
              </div>
            </div>

            <div
              class="dropdown-content"
              *ngIf="dropdownOpen && reminderForm.get('isEnable')?.value"
              (click)="$event.stopPropagation()"
            >
              <div
                class="dropdown-item"
                *ngFor="let value of values"
                [class.disabled]="isDisabled(value)"
                (click)="onRowClick(value)"
              >
                <input
                  type="checkbox"
                  [checked]="isChecked(value)"
                  [disabled]="isDisabled(value)"
                  (change)="onCheck(value, $event.target.checked)"
                />
                <span>{{ value }}</span>
              </div>
            </div>
          </div>

          <div
            class="error-text"
            *ngIf="
              reminderForm.get('reminderSequence')?.touched &&
              reminderForm.get('reminderSequence')?.invalid
            "
          >
            {{ 'HEADER.REMINDER_FORM_ERROR' | translate }}
          </div>
        </div>
      </div>

      <!-- Set Time -->
      <div class="row">
        <label class="label">{{ 'HEADER.SET_REMINDER_LABEL' | translate }}</label>
        <div class="time-wrapper">
          <input
            type="time"
            class="time-input"
            formControlName="reminderTime"
            [class.disabled]="!reminderForm.get('isEnable')?.value"
            [class.is-invalid]="
              reminderForm.get('reminderTime')?.touched && reminderForm.get('reminderTime')?.invalid
            "
          />
          <i class="fa fa-clock-o time-icon"></i>
        </div>

        <div
          class="error-text"
          *ngIf="
            reminderForm.get('reminderTime')?.touched && reminderForm.get('reminderTime')?.invalid
          "
        >
          <span *ngIf="reminderForm.get('reminderTime')?.errors?.['required']">
            {{ 'HEADER.REMINDER_FORM_ERROR2' | translate }}
          </span>

          <span *ngIf="reminderForm.get('reminderTime')?.errors?.['midnightNotAllowed']">
            {{ 'HEADER.REMINDER_FORM_ERROR3' | translate }}
          </span>
        </div>
      </div>

      <!-- Email Body -->
      <div class="modal-section">
        <label class="label block">{{ 'HEADER.EMAIL_BODY' | translate }}</label>
        <textarea
          class="email-body"
          rows="4"
          formControlName="reminderEmailBody"
          [disabled]="!reminderForm.get('isEnable')?.value"
          [class.is-invalid]="
            reminderForm.get('reminderEmailBody')?.touched &&
            reminderForm.get('reminderEmailBody')?.invalid
          "
        ></textarea>

        <div
          class="error-text"
          *ngIf="
            reminderForm.get('reminderEmailBody')?.touched &&
            reminderForm.get('reminderEmailBody')?.invalid
          "
        >
          {{ 'HEADER.REMINDER_FORM_ERROR' | translate }}
        </div>
      </div>

      <!-- Enable Reminder -->
      <div class="checkbox-row">
        <input type="checkbox" id="enableGlobalReminders" formControlName="isEnable" />
        <label for="enableGlobalReminders"> {{ 'HEADER.GLOBAL_REMINDER' | translate }} </label>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn cancel-btn" (click)="closeReminderConfig()">
          {{ 'FORM_ACTIONS.CANCEL' | translate }}
        </button>
        <button type="button" class="btn reset-btn" (click)="resetReminderConfig()">
          {{ 'BUTTONS.RESET' | translate }}
        </button>
        <button
          type="button"
          class="btn submit-btn"
          (click)="reminderForm.markAllAsTouched(); setReminderConfig()"
        >
          {{ 'BUTTONS.SAVE_CONFIGURATION' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
