.form-card {
   margin: 1rem auto;
  width: 90%;
  overflow-x: auto;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 2fr 1fr; /* left = form, right = workitems */
  gap: 20px;
}

form {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
}

.workitems-card {
  grid-column: 2 / 3;
  background: #fafafa;
  border-radius: 10px;
  padding: 15px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05);
  height: fit-content;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: 6px;
  color: #444;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
  font-size: 14px;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 60px;
}

.file-upload {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tabs {
  display: flex;
  margin-bottom: 10px;
}

.tab {
  flex: 1;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  background: #f3f4f6;
  border-radius: 6px;
}

.tab.active {
  background: #063d4c;
  color: white;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 200px;
  overflow-y: auto;
}

.form-actions {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

.cancel-btn {
  background: #4b5563;
  color: white;
}

.submit-btn {
  background: #f97316;
  color: white;
}

.small-btn {
  background: #e5e7eb;
  font-size: 12px;
}


.page-header {
  text-align: left;
  margin: 30px auto 0px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header h2 {
  font-size: 1.5rem;
  color: #003042;
  margin: 0;
  font-weight: 200;
}
.fi {
  margin-right: 8px;
  width: 20px;
  height: 15px;
  background-size: cover;
  vertical-align: middle;
}
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 8px;
  cursor: pointer;
}
.dropdown-item:hover {
  background-color: #f5f5f5;
}

.contact-number-wrapper{
  display: flex;
}
/* .custom-select-wrapper{
  width:25%;
} */

.phone-input{
  width:100%;
}

.country-code{
  padding-right: 7px;
}