form {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
}

.form-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
  gap: 24px;
  align-items: flex-end;
}

.form-group {
  flex: 1;
  min-width: 250px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-error-space {
  min-height: 20px;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
  font-size: 14px;
  outline: none;
}

.form-control-textarea {
  border: none;
  border: 1px solid #ddd;
  padding: 6px 8px;
  font-size: 14px;
  outline: none;
}

.form-checkbox-label {
  margin-left: 6px;
}

.form-billing-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workitems-card {
  grid-column: 2 / 3;
  background: #fafafa;
  border-radius: 10px;
  padding: 10px 15px 15px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05);
  height: fit-content;
}

.checkbox-inline {
  display: flex;
  align-items: center;
}

.is-invalid {
  border: none;
  border-bottom: 1px solid rgb(255, 0, 0) !important;
}

.is-invalid-textarea {
  border: none;
  border: 1px solid rgb(255, 0, 0) !important;
}

.full-width {
  flex-basis: 100% !important;
}

.contact-number-wrapper {
  display: flex;
}

.custom-select-wrapper {
  width: 80px;
  margin-right: 8px;
  position: relative;
}

.selected-option {
  width: 95px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  padding: 6px 4px 6px 0px;
  display: flex;
  align-items: center;
  gap: 4px;
  background: #fff;
  cursor: pointer !important;
}

.dropdown-arrow {
  margin-left: 2px;
}

.phone-input {
  width: 100%;
}

input::placeholder {
  opacity: 0.6 !important; /* adjust between 0 (transparent) to 1 (opaque) */
}

label {
  font-size: 16px;
  font-weight: 400;
  color: #444;
}

textarea {
  resize: vertical;
  min-height: 60px;
}

.file-upload {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tabs {
  display: flex;
  margin-bottom: 10px;
}

.tab {
  flex: 1;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  background: #f3f4f6;
  border-radius: 6px;
}

.tab.active {
  background: #063d4c;
  color: white;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* max-height: calc(100vh - 320px); */
  max-height: calc(100vh - 350px);
  overflow-y: auto;
}

.form-actions {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  background: #ffffff;
  z-index: 1200;

  display: flex;
  justify-content: flex-end;
  gap: 10px;

  padding: 12px 24px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.08);
}

.btn {
  padding: 6px 30px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

.cancel-btn {
  color: #dc3545;
  background-color: transparent;
  box-shadow: none !important;
}

.cancel-btn:hover {
  border: 1px solid #dc3545;
}

.submit-btn,
.small-btn {
  background: #f97316;
  color: white;
}

.reset-btn {
  border: 1px solid #003042;
  background-color: #ffffff;
  color: #003042 !important;
}

.reset-btn:hover,
.submit-btn:hover,
.small-btn:hover {
  background-color: #003042;
  color: #ffffff !important;
}

.fi {
  margin-right: 8px;
  width: 20px;
  height: 15px;
  background-size: cover;
  vertical-align: middle;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.country-code {
  padding-right: 7px;
}

.dropdown-list {
  position: absolute;
  background: #fff;
  top: 100%;
  left: 0;
  width: 180px;
  z-index: 99;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.count-badge {
  background: #ff8b00;
  padding: 2px 8px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  margin-left: 6px;
}

@media (max-width: 768px) {
  .form-actions {
    justify-content: center;
    padding: 10px 12px;
  }
}
