.details-page-container {
  background: #fff;
  border-radius: 10px;
  margin: 18px;
  padding: 10px 18px 0 18px;
  box-shadow: 0 2px 10px #eee;
}

.details-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.details-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.details-columns {
  display: flex;
  flex: 2;
  gap: 48px;
}

.details-col {
  min-width: 280px;
  display: flex;
  flex-direction: column;
}

.details-label {
  color: #6f42c1;
  font-size: 16px;
  margin-top: 16px;
}

.details-value {
  font-size: 17px;
  color: #222;
  margin-bottom: 4px;
}

.workitems-card {
  flex: 1;
  margin-left: 32px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 8px #eee;
  min-width: 320px;
}

.workitems-title {
  font-weight: 600;
  font-size: 18px;
  padding: 16px 20px 0 20px;
}

.workitems-tabs {
  display: flex;
  margin-top: 8px;
}

.workitems-tabs button {
  flex: 1;
  border: none;
  background: #f5f5f5;
  /* font-weight: 600; */
  font-size: 18px;
  color: #f97316;
  padding:0.5rem 1rem;
  border-radius: 7px 7px 0 0;
  transition: background 0.18s;
  cursor: pointer;
}

.workitems-tabs button.active {
  background: #00263a;
  color: #fff;
  box-shadow: 0 2px 8px #eee;
}

.tab-badge {
     background-color: #F07E2A !important;
     color: #fff !important;
    border-radius: 8px;
    block-size: 16px;
    min-inline-size: 8px;
    padding: 1px 5px;
    font-size: 11px;
    /* inset-inline-start: 50%; */
    /* inset-inline-end: auto; */
    inset-block-start: -8px;
    padding: 0.5rem;
    line-height: 1px;
    border-radius: 50rem;
}

.workitems-list {
  background: #fff;
  padding: 18px 24px 12px 24px;
  min-height: 120px;
  font-size: 17px;
}
.details-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  padding-bottom: 18px;
}
.back-btn {
  background: #f97316;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 12px 38px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 6px #eee;
}



 .formScroll {
    max-height: calc(100vh - 268px);
    overflow-y: auto;}