

/* Edit icon */
.fa-eye {
  color: #ff7f32;
  cursor: pointer;
  margin-right: 10px;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.clickable-row:hover {
  background-color: #f5f5f5; /* subtle hover effect */
}
