

/* Edit icon */
.fa-eye {
  color: #ff7f32;
  cursor: pointer;
  margin-right: 10px;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
 
.clickable-row:hover {
  background-color: #f5f5f5b7; /* subtle hover effect */
}

.status-started {
  color: blue !important;
  font-weight: 600;
}

.status-inprogress {
  color: orange !important;
  font-weight: 600;
}

.status-completed {
  color: green !important;
  font-weight: 600;
}

.vis-icon{
  color: #ff7f32 !important;
}

.vis-icon:hover {
  opacity: 0.7 !important; 
}

/* Hover effect for table rows */
.mat-row:hover {
  background-color: #f0f4ff !important; /* light blue or any color */
  cursor: pointer;
}

/* Optional: keep hover color even when row is clickable */
.clickable-row:hover {
  background-color: #f0f4ff !important;
}
