<div class="body-loginBG min-h-screen flex flex-col items-center justify-center">
  <div class="w-full max-w-md">
    <div class="login-wrapper">
      <div class="login-inner row m-0">
        <div class="d-none d-lg-flex col-12 align-items-center">
          <div class="divloginContainer">
            <div class="loginContainer">
              <div class="divLogo">
                <img src="assets/images/unibouw.png" class="img-fluid" alt="unibouq">
              </div>
              <div class="logintxt mt-4">Login with SSO</div>

              <!-- Form -->

              <div class="input-group">
                <label for="email" class="input-label">Email ID</label>
                <input id="email" type="email" [(ngModel)]="email" name="email" #emailRef="ngModel" required
                  (keyup.enter)="onSubmit(emailRef)" />
                <div class="error-msg" *ngIf="emailRef.invalid && emailRef.touched" style="color: red">
                  Email is required
                </div>
              </div>

              <button class="microsoft-btn" (click)="onSubmit(emailRef)" type="submit">
                <div class="microsoft-logo">
                  <div class="logo-square red"></div>
                  <div class="logo-square green"></div>
                  <div class="logo-square blue"></div>
                  <div class="logo-square yellow"></div>
                </div>
                Sign in with Microsoft
              </button>
              <!-- Form -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button type="submit" (click)="onLoginClick()" style="background-color: grey; margin: 3px auto">
      Test Login
    </button> -->