.footer {
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 0 10px 10px;
  z-index: 100;
  margin-top: 10px;
  /* background: #f8f9fa;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1); */
}
